/*************************************************/
/*************        COLORS         *************/
/*************************************************/
$black:         #1D344F;
$white:         #EDEFF1;
$gray:          #cdcfd1;
$pink:          #C98093;
$green:         #7CA198;
$yellow:        #DDB278;
$blue:          #6080B0;
$purple:        #8E6F98;
$cyan:          #6ca8cf;


/*************************************************/
/*************        ROOT CLASS     *************/
/*************************************************/
*{
  all: unset;
  background-color: $white;
  font-family: 'FantasqueSansMono Nerd Font Mono';
}
/*************************************************/
/*************      COLOR CLASSES    *************/
/*************************************************/
.pink{
  color: $pink;
}

.green{
  color: $green;
}

.yellow{
  color: $yellow;
}

.blue{
  color: $blue;
}

.purple{
  color: $purple;
}

.cyan{
  color: $cyan;
}

/*************************************************/
/*************      USER WEDGIT      *************/
/*************************************************/

.user{
  font-size: 28px;
}

/*************************************************/
/*************      POWER WEDGIT      ************/
/*************************************************/

.power{
  font-size: 75px;
  padding: 15px;
}

/*************************************************/
/*************   DATE/TIME WEDGIT   **************/
/*************************************************/

.date{
  font-size: 80px;
  font-weight: 600;
}

.day{
  font-size: 23px;
  font-weight: 200;
}

.separator{
  font-size: 60px;
}

/*************************************************/
/*************   CALENDAR WEDGIT    **************/
/*************************************************/

.calendar-border{
  border: 8px outset $purple;
  border-radius: 15px;
}

.calendar {
  font-size: 25px;
  color: $blue;
  padding: 7px;
  padding-top: 12px;


  &:selected {
    border-radius: 10px;
    color: $white;
    background-color: #DDB278;
  }

  &.header {
    color: $pink;
    border: 4px solid $white;
  }

  &.button{
    color: $cyan;
  }

  &:indeterminate {
    color: $gray;
  }
}

/*************************************************/
/*************       TODO WEDGIT      ************/
/*************************************************/

.todo-header {
  font-family: "Delius Swash Caps";
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid $gray 1px;
  min-width: 340px;
}

.todo {
  font-family: "Delius Swash Caps";
  font-size: 30px;
  border-bottom: solid $gray 1px;
  min-width: 340px;
}


.todo-check {
  font-size: 60px;
  padding-left: 40px;
  padding-right: 20px;
}
/*************************************************/
/*************    SCREENSHOT WEDGIT   ************/
/*************************************************/

.screenshot{
  font-size: 75px;
}

/*************************************************/
/*************      SYSTEM WEDGIT     ************/
/*************************************************/

.metric-ram scale trough highlight , .metric-vol scale trough highlight , .metric-root scale trough highlight , .metric-disk scale trough highlight, .metric-bright scale trough highlight {
  all: unset;
  border-radius: 10px;
}

.metric-ram scale trough , .metric-vol scale trough , .metric-root scale trough , .metric-disk scale trough, .metric-bright scale trough {
  all: unset;
  background-color: $gray;
  border-radius: 50px;
  min-height: 23px;
  min-width: 290px;
  margin-left: 20px;
}

.metric-ram scale trough highlight {
  background-color: $cyan;
}

.metric-vol scale trough highlight {
  background-color: $purple;
}

.metric-bright scale trough highlight {
  background-color: $yellow;
}

.metric-root scale trough highlight {
  background-color: $green;
}

.metric-disk scale trough highlight {
  background-color: $blue;
}

.metric-lable {
  font-family: "Feather";
  font-size: 28px;
  font-weight: bolder;
}


/*************************************************/
/*************      FETCH WEDGIT     *************/
/*************************************************/

.fetch-border{
  border: 2px solid $gray;
  border-radius: 15px;
}

.fetch{
  font-size: 28px;
}

.dots{
  font-size: 25px;
}

/*************************************************/
/*************      PLAYER WEDGIT    *************/
/*************************************************/

.cover{
  padding-top: 45px;
  padding-bottom: 30px;
}

.song{
  font-size: 27px;
}

.artist{
  font-size: 25px;
}

.control{
  font-size: 90px;
}

.metric-player  scale trough highlight {
  all: unset;
  border-radius: 10px;
  background-color: $pink;
  
}

.metric-player scale trough  {
  all: unset;
  background-color: $gray;
  border-radius: 50px;
}

.metric-player scale trough  {
  min-width: 320px;
  min-height: 23px;
  
}

/*************************************************/
/*************    LOCATIONS WEDGIT   *************/
/*************************************************/

.locations{
  font-size: 100px;
}
